
/**
 * tangPoem
 */
#tang-poem{
	padding-top: 70px;
	.nav.navbar-left{
		>li>a{
			padding-left: 80px;
			padding-right: 80px;
		}
	}

	@media (min-width: 1200px){
		.container {
			width: 970px;
		}
	}

	&.info{
		p{
			color: #333;
			margin: 15px 0 5px 0;
			text-indent: 2em;
			line-height: 24px;
		}
	}
}

/**
 * 修正Myplayer样式 
 */
.my-player  {
    *{
    	-webkit-box-sizing: initial;
    	    -moz-box-sizing: initial;
    	    box-sizing: initial;
    }
    .btn{
    	padding:0;
    }
}

/**
 *admin
 */
#admin{
	.nav li.active a{
		text-decoration: none;
		background-color: #eee;
	}
	form textarea{
		height:200px;
	}
	.left{
		overflow-y: scroll;
		max-height: 1300px;
	}
	.my-player{
		position: fixed;
		right:0;
		bottom: 0;
	}
}